<div class="new-responses">

  <h3><strong>Add a Multiple Choice Question:</strong></h3>
  <div class="text-center">
    <h4><span class="text-muted">1.Select Options</span> | <strong>2.Add Question Text</strong></h4>
  </div>

  <hr>

  <%= form_for @question, url: admin_question_path(@question) do |f| %>
      <div class="form-group">
        <h4><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i> What is your question?</strong></h4>
        <%= f.text_field :text, class: "form-control input-lg" %>
      </div>
      <% @question.options.times do |i| %>
          <div class="form-group">
            <h4><strong><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Option <%= i + 1 %>:</strong></h4>
            <%= f.fields_for :response_options do |response_option| %>
                <%= response_option.text_field :text, class: 'form-control' %>
            <% end %>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.submit "Add Question", class: "btn btn-primary btn-lg btn-block" %>
      </div>
  <% end %>
  <h4><%= link_to "Back to previews step", edit_admin_question_path(@question) %></h4>

</div>
