<% provide(:title, '注册') %>
<div class="home-page">
  <div class="container">
    <h1>注册</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name, "昵称" %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :email, "email" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password, "密码" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "确认密码" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>

            <%= f.submit "创建我的账号", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
