<% provide(:title, "注册") %>
<div class="login-body">
  <div class="container">
    <div class="form-signin">
      <h2 class="form-signin-heading">账号注册</h2>
      <div class="login-wrap">

        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.email_field :email, class: 'form-control', placeholder: '输入电子邮件' %>

            <%= f.password_field :password, class: 'form-control' %>

            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <%= f.submit "创建我的账号", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
