<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
  <div class="container-fluid" id="mainer">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-2">
        <%= render 'shared/slide_nav' %>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-10">
        <div id="home-page">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
